@using(Html.BeginForm("Create","TimeScreening", FormMethod.Get,new{id="Question",name="Question"}))
{
    <span>how many Time screening you need to enter?</span>
    <input type="number" id="number" name="number" value=" " />
    <input type="submit" id="Question" name="Question" value="ok"/>
}
