<div id="dashboardSplitMovie_div" style="height:auto;width:auto" >
    <table class="columnsSplitMovie">
        <tr>
            <td>
                <div id="sliderSplitMovie_div" ></div>
            </td>
            <td>
                <div id="categoryPickerSplitMovie_div"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="chartSplitMovie_div" ></div>
            </td>
            <td>
                <div id="tableSplitMovie_div" ></div>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">


    $('#dashboardSplitMovie_div').ready(
    function () {

        var dashboardSplitMovie = new google.visualization.Dashboard(
            document.getElementById('dashboardSplitMovie_div'));


        var sliderSplitMovie = new google.visualization.ControlWrapper({
            'controlType': 'NumberRangeFilter',
            'containerId': 'sliderSplitMovie_div',
            'options': {
                'filterColumnIndex': 2,
                'ui': {
                    'labelStacking': 'vertical',
                    'label': 'Income Filter:'
                }
            }
        });
        var categoryPickerSplitMovie = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'categoryPickerSplitMovie_div',
            'options': {
                'filterColumnIndex': 0,
                'ui': {
                    'labelStacking': 'vertical',
                    'label': 'Movie Selection:',
                    'allowTyping': true,
                    'allowMultiple': true
                }
            }
        });
        var pieSplitMoviee = new google.visualization.ChartWrapper({
            'chartType': 'PieChart',
            'containerId': 'chartSplitMovie_div',
            'options': {
                'legend': 'none',
                'pieSliceText': 'label'
            },
        });
        var tableSplitMovie = new google.visualization.ChartWrapper({
            'chartType': 'Table',
            'containerId': 'tableSplitMovie_div',
            'options': {
            }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("graphTotalIncomSplitByMovieResult")',
            data: '{}',
            dataType: 'json',
            success: function (data) {
                // Create our data table.
                var dataTableSplitByMovie = new google.visualization.DataTable();

                dataTableSplitByMovie.addColumn('string', 'Movie');
                dataTableSplitByMovie.addColumn('number', 'Intrest');
                dataTableSplitByMovie.addColumn('number', 'Income');

                for (var i = 0; i < data.length; i++) {
                    var Movie = data[i].Movie
                    var Intrest = data[i].Intrest;
                    var Income = data[i].Income;

                    dataTableSplitByMovie.addRow([Movie, Intrest, Income]);
                }
                dashboardSplitMovie.bind([sliderSplitMovie, categoryPickerSplitMovie], [pieSplitMoviee, tableSplitMovie]);
                dashboardSplitMovie.draw(dataTableSplitByMovie);

            },
            error: function (xhr, ajaxOptions, thrownEror) {
                alert("False");
            }

        });


    });
</script>
