@model CimenaCityProject.Models.CheckOut


@{
    ViewBag.Title = "Statistic Index";
}


   
<h2>Statistic Index</h2>
<br /><br /><br />

<div>


    <div class="form-control" style="height: 304px; ">
        <p style="text-align: center; font-size: large; font-weight: bold"> Total Income </p>
        <hr />
        @{
            Html.RenderAction("TotalIncome");
        }
    </div>


    <div class="form-control" style="height: auto; ">
        <p style="text-align: center; font-size: large; font-weight: bold"> Total Income Order by Movie </p>
        <hr />
        @{
            Html.RenderAction("graphTotalIncomSplitByMovie");
        }
    </div>


    <div class="form-control" style ="height: 304px;">
        <p style="text-align:center;font-size:large;font-weight:bold"> The Intrest movies </p>
        <hr />
        @{
            Html.RenderAction("IntrestPath");
        }
    </div>



</div>


