@model IEnumerable<CimenaCityProject.Models.CheckOut>


<br /><br /><br />
<div>
    <div>
        <div id="GraphTotalIncome" style="height:200px;width:400px; ">
            fsd 
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br />






<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jqplot/jquery.jqplot.js"></script>
<script src="~/Scripts/jqplot/Plugins/jqplot.barRenderer.js"></script>
<script src="~/Scripts/jqplot/Plugins/jqplot.dateAxisRenderer.js"></script>
<script src="~/Scripts/jqplot/Plugins/jqplot.logAxisRenderer.js"></script>
<link href="~/Content/jqplot/jquery.jqplot.css" rel="stylesheet" />
<script type="text/javascript">

    $('#GraphTotalIncome').ready(function () {
        alert("ok 1")
        $.ajax({
            url: '@Url.Action("GraphTotalIncome")',
            type: 'GET',
            success: function (result) {
                jplotTry(result.price,result.date)
            //    JqPlot(result);
                alert("yes")
            },
            error: function () {
                alert("no")
            }
        });
    });



    $(function jplotTry(price, date) {

        $.jqplot("GraphTotalIncome", [[[date, price]]],
        {
            title: 'try me now',
            axes: { yaxis: { renderer: $.jqplot.dateAxisRenderer } },
            series: [{ color: '#ff5b51' }]
        });
    });


    $(function JqPlot(result) {
        alert("start")
        $.jqplot('#GraphTotalIncome', [[[result.price, result.date]]], {
            title: 'Graph',
            axes: {
                xaxis: {
                    renderer: $.jqplot.dateAxisRenderer
                },

            }//,
            //series: [{ lineWidth: 4, markerOptions: { style: 'square' } }]
        })
        alert("end")
        // end of TestJqPlot
    });
    </script>