@model CimenaCityProject.Models.CheckOut


@{
    ViewBag.Title = "Statistic Index";
}


   
<h2>Statistic Index</h2>


<div>

</div>

<div class="form-control" style="height: auto; width: auto">
    <span style="align-content:center"> Total Income </span>
    @{
        Html.RenderAction("TotalIncome");
    }
</div>
<div class="form-control" style="height:450px;width:440px">
    <span style="align-content:center"> The Intrest movies </span>
    @{
        Html.RenderPartial("~/Views/Statistic/IntrestPath.cshtml");
    }
</div>
<div>
    <div>
        <div><span></span></div>
    </div>
</div>

