    <!--Div that will hold the dashboard-->
<div id="dashboardIntrest_div">
    <!--Divs that will hold each control and chart-->
    <div id="filterIntrest_div"></div>
    <div id="chartIntrest_div"></div>
</div>


<script type="text/javascript">

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawDashboardIntrestPath);

    // Callback that creates and populates a data table,
    // instantiates a dashboard, a range slider and a pie chart,
    // passes in the data and draws it.
    function drawDashboardIntrestPath() {

        // Create a dashboard.
        var dashboardIntrestPath = new google.visualization.Dashboard(
            document.getElementById('dashboardIntrest_div'));

        // Create a range slider, passing some options
        var RangeSliderIntrestPath = new google.visualization.ControlWrapper({
            'controlType': 'NumberRangeFilter',
            'containerId': 'filterIntrest_div',
            'options': {
                'filterColumnLabel': 'Intrest'
            }
        });

        // Create a pie chart, passing some options
        var pieChartIntrestPath = new google.visualization.ChartWrapper({
            'chartType': 'PieChart',
            'containerId': 'chartIntrest_div',
            'options': {
                'pieSliceText': 'value',
                'legend': 'right'
            }
        });


        $.ajax({
            type: "POST",
            url: '@Url.Action("IntrestPathResult")',
            data: '{}',
            dataType: 'json',
            success: function (data) {

                // Create our data table.
                var dataTableIntrestPath = new google.visualization.DataTable();

                dataTableIntrestPath.addColumn('string', 'Movie');
                dataTableIntrestPath.addColumn('number', 'Intrest');
                for (var i = 0; i < data.length; i++) {
                    var Movie = data[i].Movie
                    var Intrest = data[i].Intrest;
                    dataTableIntrestPath.addRow([Movie, Intrest]);
                }

             

                // Establish dependencies, declaring that 'filter' drives 'pieChart',
                // so that the pie chart will only display entries that are let through
                // given the chosen slider range.
                dashboardIntrestPath.bind(RangeSliderIntrestPath, pieChartIntrestPath);

                // Draw the dashboard.
                dashboardIntrestPath.draw(dataTableIntrestPath);
            },
            error: function (xhr, ajaxOptions, thrownEror) {
                alert("False");
            }

        });

    }
</script>




