
<div id="dashboardTotalIncome_div" style="width:auto; height: auto">

    <div id="curveTotalIncome_chart"></div>

</div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['corechart', 'table', 'gauge', 'controls', 'annotationchart'] });

        $('#curveTotalIncome_chart').ready(function () {

            var chart = new google.visualization.AnnotationChart(document.getElementById('curveTotalIncome_chart'));

            google.setOnLoadCallback(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("TotalIncomeResult")',
                    data: '{}',
                    dataType: 'json',
                    success: function (data) {
                        var dataTableTotalIncome = new google.visualization.DataTable();
                        dataTableTotalIncome.addColumn('datetime', 'Date');
                        dataTableTotalIncome.addColumn('number', 'Total Income');
                        for (var i = 0; i < data.length; i++) {
                            var name = new Date(DateConverter(data[i].OrderDate).toString());
                            var PRICE = data[i].TotalPrice;
                            dataTableTotalIncome.addRow([name, PRICE]);
                        }
                        var today = new Date();
                        var tomorrow = new Date(today);
                        tomorrow.setDate(today.getDate() + 1);
                        dataTableTotalIncome.addRow([tomorrow, 0]);
                        var optionsTotalIncome = {
                         displayAnnotations:true
                        };

                       


                        chart.draw(dataTableTotalIncome, optionsTotalIncome);
                    },
                    error: function (xhr, ajaxOptions, thrownEror) {
                        alert("False");
                    }

                });

            });
        })


        // START Datetime Converters
        function DateConverter(date) {
            var aux = null;
            if (date != null) {
                aux = date.substring(6);
                aux = aux.substring(0, aux.indexOf(')'));
            }

            return aux != null ? getISODate(new Date(parseInt(aux))) : "";
        }

        function DatetimeConverter(date) {
            var aux = null;
            if (date != null) {
                aux = date.substring(6);
                aux = aux.substring(0, aux.indexOf(')'));
            }

            return aux != null ? getISODateTime(new Date(parseInt(aux))) : "";
        }

        function getISODate(d) {
            // padding function
            var s = function (a, b) { return (1e15 + a + "").slice(-b) };

            // default date parameter
            if (typeof d === 'undefined') {
                d = new Date();
            };

            // return ISO datetime
            return zeroPad(s(d.getMonth() + 1, 2), 2) + '/' +
            zeroPad(d.getDate(), 2) + '/' +
            zeroPad(d.getFullYear(), 4);

        }

        function getISODateTime(d) {
            // padding function
            var s = function (a, b) { return (1e15 + a + "").slice(-b) };

            // default date parameter
            if (typeof d === 'undefined') {
                d = new Date();
            };

            // return ISO datetime
            return zeroPad(d.getDate(), 2) + '/' +
            zeroPad(s(d.getMonth() + 1, 2), 2) + '/' +
            zeroPad(d.getFullYear(), 4) + " " +
            zeroPad(d.getHours(), 2) + ":" +
            zeroPad(d.getMinutes(), 2) + ":" +
            zeroPad(d.getSeconds(), 2);
        }

        function zeroPad(num, places) {
            var zero = places - num.toString().length + 1;
            return Array(+(zero > 0 && zero)).join("0") + num;
        }
        // END Datetime Converters


</script>
